<nav class="shadow-lg w-[280px] text-white h-full">
    <div class="bg-[#004C6C0D] h-[44px] mt-[30px] w-full flex items-center border-r-4 border-[#004C6C]">
        <a class="px-4 text-[#004C6C] text-base block w-full" href="#section1">Connexion</a>
    </div>
</nav>