{% extends 'base.html.twig' %}

{% block title %}Mot De Passe Oublie{% endblock %}

{% block body %}
    <h1 class="font-[Epilogue] text-[#1B3168] text-[28.85px] font-semibold mb-4">Mot de passe oublié</h1>
    <p class="font-[Epilogue] font-normal text-[16px]">
        Renseignez votre adresse email dans le champ ci-dessous.<br>
        Vous recevrez par la suite un email avec un lien vous permettant de réinitialiser votre mot de passe.
    </p>

    <form class="space-y-4 font-[sans-serif] text-[#333] max-w-md mt-10" method='GET'>
        <div class="relative flex flex-col">
            <label for="email" class="font-[Inter] block text-[16px] font-medium text-[#212B36] mb-2">Adresse Mail</label>
            <input type="email" id="email" placeholder="****@mentalworks.fr" name="email" 
                class="px-4 pl-[3rem] py-3 text-[#9CA3AF] w-[350px] h-[45px] text-sm border outline-[#007bff] rounded transition-all" 
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                title="Veuillez entrer une adresse email valide (exemple : user@domain.com)" 
                required />
            <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute left-4 top-10" viewBox="0 0 682.667 682.667">
                <defs>
                    <clipPath id="a" clipPathUnits="userSpaceOnUse">
                        <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                    </clipPath>
                </defs>
                <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                    <path fill="none" stroke-miterlimit="10" stroke-width="40" d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z" data-original="#000000"></path>
                    <path d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z" data-original="#000000"></path>
                </g>
            </svg>
        </div>

        <button type="submit" class="font-[Inter] font-medium text-[16px] px-6 py-2.5 w-[379px] h-[50px] !mt-5 text-sm bg-[#004C6C] text-white rounded">Demander à réinitialiser mon mot de passe</button>
        <p>{{result}}</p>
    </form>
    <a href="{{ path('login') }}" class="font-[Epilogue] text-[#004C6C] font-bold text-[16px]">
        Cliquez ici
    </a> 
    <span class="font-[Epilogue] font-normal mt-[15px] text-[16px]"></span>
        pour retourner à la page de connexion.
    </span>
{% endblock %}