{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block javascripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="text-[#1B3168] font-[Epilogue] font-semibold text-[28px]">Oups ! Cette page est introuvable (404).</h1>
    <p class="mt-2 text-black text-[16px] font-[Epilogue] font-normal">La page que vous recherchez n'existe pas.</p>
    <p class="mt-2 text-black text-[16px] font-[Epilogue] font-normal">Vous pouvez retournez à l'accueil <a href="{{ path('home_index') }}" class="btn btn-primary text-[#1B3168] font-bold underline">ici</a>.</p>
{% endblock %}