<div class="relative">
    <div class="bg-[#B4C4CF] h-[63px] rounded-[12px] absolute left-[50%] right-[50%] w-[95%] bottom-[5px] translate-x-[-50%]"></div>
    <header class="bg-[#004C6C] text-white h-[58px] text-center rounded-[12px] relative z-10 mt-[15px] ml-[auto] mr-[auto] w-[98%]">
        <img src="{{asset('images/logo.png')}}" alt="Logo" class="absolute left-[10px] top-[10px] h-[37px] w-[167px]">
    </header>
</div>