<div class="relative">
    <div class="bg-[#B4C4CF] h-[63px] rounded-[12px] absolute left-[45px] w-[1505px] bottom-[5px]"></div>
    <header class="bg-[#004C6C] text-white h-[58px] text-center rounded-[12px] relative z-10 mt-[15px] ml-[15px] w-[1565px]">
        <!-- Barre avec couleur personnalisée sans menu -->
    </header>
</div>