{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <h1 class="text-[#1B3168] font-[Epilogue] font-semibold text-[28px] text-center md:text-left">
        Statistiques
    </h1>
    <h2 class="text-[#004C6C] font-[Epilogue] text-[18px] mt-5 font-semibold text-center md:text-left">
        Types de demandes sur l'année
    </h2>
    <div class="flex justify-center md:justify-start">
        <canvas id="doughnutChart" class="mt-10 h-auto max-h-[500px] w-full max-w-[90%] sm:max-w-[600px] md:max-w-[600px] lg:max-w-[800px]"></canvas>
    </div>

    <h2 class="text-[#004C6C] font-[Epilogue] text-[18px] mt-10 font-semibold text-center md:text-left">
        Pourcentage d'acceptation des demandes par mois
    </h2>
    <div class="flex justify-center md:justify-start mb-[30px]">
        <canvas id="lineChart" class="mt-10 h-auto max-h-[500px] w-full max-w-[90%] sm:max-w-[600px] md:max-w-[600px] lg:max-w-[800px]"></canvas>
    </div>

    <!-- Ajouter un élément caché pour transmettre les données -->
    <div id="chart-data"
         data-request-types="{{ requestTypes|map(type => type.name)|json_encode }}"
         data-count-request="{{ countRequest|json_encode }}"
         data-acceptance-percentage="{{ acceptancePercentage|json_encode }}">
    </div>
{% endblock %}