{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

<h1>CongéFacile</h1>

<form action="{{ path('logout') }}" method="post">
    <button type="submit">Déconnexion</button>
</form>

{% endblock %}