<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CongeFacile{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.tailwindcss.com"></script>
    {% endblock %}
</head>
<body class="flex flex-col h-screen">
    {%block header %}
        {% include 'default/header/header.html.twig' %}
    {% endblock %}
    
    
    <div class="flex flex-1">
        {% block navbar %}
            {% include 'default/navbar/navbar.html.twig' %}
        {% endblock %}
        
        <div class="flex-1 p-[3rem]">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>